<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home</title>

    <div th:replace="fragments/general.html :: style-links"></div>
</head>
<body>

<div class="container">
    <div th:replace="fragments/general.html ::  nav-bar"></div>
    <div class="row justify-content-left mt-5 mx-3">
        <div class="col-12">
            <th:block th:switch="${request}">
                <div th:case="'books'">
                    <div th:replace="fragments/info.html :: books-table"></div>
                </div>
                <div th:case="'borrowed'">
                    <form th:action="@{/return-borrowed-books}" method="post">
                        <button type="submit" class="btn btn-outline-primary float-right mb-3" onclick="deleteBorrowedBooks(this)">Return books</button>
                    </form>
                    <div th:replace="fragments/info.html :: borrowed-table"></div>
                </div>
                <div th:case="'clients'">
                    <div th:replace="fragments/info.html :: clients-table"></div>
                </div>
            </th:block>
        </div>
    </div>
</div>
</div>

<div th:replace="fragments/general.html :: script-links"></div>
<script type="text/javascript" src="/js/borrowed-table.js"></script>
</body>
</html>