<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-------------------------== Style links ==-------------------------->
<th:block th:fragment="style-links">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/resources/css/main.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/5.9.0/css/all.min.css">
</th:block>


<!-------------------------== Nav bar ==-------------------------->
<nav th:fragment="nav-bar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}" th:text="#{nav.brand.label}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{nav.add.label}">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/edit/book}" th:text="#{nav.add-book.label}"></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/edit/author}" th:text="#{nav.add-author.label}">Another action</a>
                    <a class="dropdown-item" th:href="@{/edit/publisher}" th:text="#{nav.add-publisher.label}">Another action</a>
                </div>
            </li>
        </ul>
        <a th:href="@{/logout}" class="btn btn-dark">Logout</a>
    </div>
</nav>


<!-------------------------== Site title ==-------------------------->
<div th:fragment="site-title" class="mb-5 text-center">
    <img class="d-block mx-auto mb-4" src="/resources/images/bookshelf.svg" alt=""
         width="72" height="72">
    <h1>Library</h1>
</div>


<!-------------------------== Books table ==-------------------------->
<table class="table table-striped mt-3 text-left" th:unless="${bookList.isEmpty()}" th:fragment="books-table">
    <thead>
    <tr>
        <th scope="col" id="book-table_first-col_title"></th>
        <th scope="col" th:text="#{book.isbn.label}">ISBN</th>
        <th scope="col" th:text="#{book.book-name.label}">Name</th>
        <th scope="col" th:text="#{book.authors.label}">Authors</th>
        <th scope="col" th:text="#{book.publisher.label}">Publisher</th>
        <th scope="col" th:text="#{book.publish-year.label}">Publish year</th>
        <th scope="col" th:text="#{book.copies.label}">Publisher</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${bookList}">
        <td scope="row" class="book-table_first-col_first-row">
            <a th:href="@{/edit(isbn=${book.isbn})}">
                <i class="fas fa-edit"></i>
            </a>
        </td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.name}"></td>
        <td>
                                <span th:each="author : ${book.authors}">
                                    <span th:text="${author.firstName + ' ' + author.lastName + ','}"></span>
                                </span>

        </td>
        <td th:text="${book.publisher?.name}"></td>
        <td th:text="${book.publishYear}"></td>
        <td th:text="${book.copies}"></td>
    </tr>
    </tbody>
</table>

<!-------------------------== Script links ==-------------------------->
<th:block th:fragment="script-links">
    <script type="text/javascript" src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<!--    <script type="text/javascript" src="/webjars/popper.js/1.14.3/popper.min.js"></script>-->
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/resources/js/script.js" ></script>
</th:block>
</body>
</html>