<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-------------------------== Style links ==-------------------------->
<th:block th:fragment="style-links">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/5.9.0/css/all.min.css">
</th:block>


<!-------------------------== Nav bar ==-------------------------->
<nav th:fragment="nav-bar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}" th:text="#{nav.brand.label}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" sec:authorize="hasAnyRole('ROLE_OPERATOR', 'ROLE_ADMIN')">
                <a class="nav-link dropdown-toggle" href="#" id="nav-add-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{nav.add.label}">
                </a>
                <div class="dropdown-menu" aria-labelledby="nav-add-item">
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" th:href="@{/edit/book}" th:text="#{nav.add-book.label}"></a>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" th:href="@{/edit/author}" th:text="#{nav.add-author.label}"></a>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" th:href="@{/edit/publisher}" th:text="#{nav.add-publisher.label}"></a>
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/edit/client}" th:text="#{nav.add-client.label}"></a>
                </div>
            </li>
            <li class="nav-item dropdown" sec:authorize="hasAnyRole('ROLE_OPERATOR', 'ROLE_ADMIN')">
                <a class="nav-link dropdown-toggle" href="#" id="nav-info-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{nav.info.label}">
                </a>
                <div class="dropdown-menu" aria-labelledby="nav-info-item">
                    <a sec:authorize="hasAnyRole('ROLE_OPERATOR', 'ROLE_ADMIN')" class="dropdown-item" th:href="@{/info/books}" th:text="#{nav.info.books.label}"></a>
                    <a sec:authorize="hasAnyRole('ROLE_OPERATOR', 'ROLE_ADMIN')" class="dropdown-item" th:href="@{/info/borrowed}" th:text="#{nav.info.borrowed-books.label}"></a>
                </div>
            </li>
        </ul>

        <div class="mr-4" id="top_nav__user-info">
            <span th:text="${#authentication.name} + ': '"></span>
            <th:block th:each="authority, iter : ${#authentication.authorities}">
                <span th:text="${authority}"></span>
                <span th:unless="${iter.last}">, </span>
            </th:block>
        </div>
        <a sec:authorize="isAnonymous()" th:href="@{/login}" class="btn btn-outline-dark">Login</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn-outline-dark">Logout</a>
    </div>
</nav>


<!-------------------------== Site title ==-------------------------->
<div th:fragment="site-title" class="mb-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images/bookshelf.svg" alt=""
         width="72" height="72">
    <h1>Library</h1>
</div>

<!-------------------------== Script links ==-------------------------->
<th:block th:fragment="script-links">
    <script type="text/javascript" src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/script.js" ></script>
</th:block>

</body>
</html>