<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-------------------------== Books table ==-------------------------->
<table class="table table-striped mt-3 text-left" th:unless="${bookList.isEmpty()}" th:fragment="books-table">
    <thead>
    <tr>
        <th scope="col" id="book-table_first-col_title"></th>
        <th scope="col" th:text="#{book.isbn.label}">ISBN</th>
        <th scope="col" th:text="#{book.book-name.label}">Name</th>
        <th scope="col" th:text="#{book.authors.label}">Authors</th>
        <th scope="col" th:text="#{book.publisher.label}">Publisher</th>
        <th scope="col" th:text="#{book.publish-year.label}">Publish year</th>
        <th scope="col" th:text="#{book.details.copies-left.label}">Copies left</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${bookList}">
        <td scope="row" class="book-table_first-col_first-row">
            <a th:href="@{/edit/book(isbn=${book.isbn})}">
                <i class="fas fa-edit"></i>
            </a>
        </td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.name}"></td>
        <td>
                                <span th:each="author : ${book.authors}">
                                    <span th:text="${author.firstName + ' ' + author.lastName + ','}"></span>
                                </span>

        </td>
        <td th:text="${book.publisher?.name}"></td>
        <td th:text="${book.publishYear}"></td>
        <td th:text="${book.copies}"></td>
    </tr>
    </tbody>
</table>


<!-------------------------== Borrowed table ==-------------------------->
<table class="table table-striped mt-3 text-left" th:unless="${borrowedList.isEmpty()}"
       th:fragment="borrowed-table">
    <thead>
    <tr>
        <th scope="col" id="borrow-table_first-col_title"></th>
        <th scope="col" th:text="#{info.borrowed.name.label}"></th>
        <th scope="col" th:text="#{info.borrowed.client.label}"></th>
        <th scope="col" th:text="#{info.borrowed.date.label}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${borrowedList}">
        <td scope="row" class="book-table_first-col_first-row">
            <a href="#">
                <i class="fas fa-edit"></i>
            </a>
        </td>
        <td th:text="${book.book.name}"></td>
        <td th:text="${book.client.firstName + ' ' + book.client.lastName}"></td>
        <td th:text="${book.borrowDate}"></td>
    </tr>
    </tbody>
</table>




</body>
</html>