#book-table_first-col_title {
    width: 50px;
}

.book-card a {
    color: black;
    text-decoration: none;
}

.book-card:hover {
    box-shadow: 0 0 5px 1px #0074d9;
}

.boot-detail__book-name {
    font-size: 1.5rem;
}

.book-detail__author-list, .catalog__card__authors-list {
    font-size: 0;
}

.book-detail__author-list span,
.book-detail__author-list a,
.catalog__card__authors-list span {
    font-size: 1rem;
}

.book-detail__buttons {
    position: relative;
    top: 20%;
}

.book-detail__details-block ul {
    list-style: none;
    font-size: 0.8rem;
}