<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home</title>

    <div th:replace="fragments/general.html :: style-links"></div>
</head>
<body>

<div class="container">
    <div th:replace="fragments/general.html ::  nav-bar"></div>
    <div class="row justify-content-left mt-5 mx-3">
        <div class="col-4 book-detail__book-cover-img">
            <img th:src="#{image.src.content(${book.pictureContent})}" class="rounded float-left w-100" th:alt-title="${book.name}">
        </div>

        <div class="col-6 ml-5 mt-3">
            <h1 th:text="${book.name}" class="font-weight-bold boot-detail__book-name"></h1>
            <h6 class="book-detail__author-list">
                <span>by </span>
                <th:block th:each="author, iter : ${book.authors}">
                    <a th:href="@{/edit/author(id=${author.id})}" th:text="${author.firstName + ' ' + author.lastName}"
                       sec:authorize="hasAnyRole('ROLE_OPERATOR', 'ROLE_ADMIN')"></a>
                    <span th:href="@{/edit/author(id=${author.id})}" th:text="${author.firstName + ' ' + author.lastName}"
                          sec:authorize="!hasAnyRole('ROLE_OPERATOR', 'ROLE_ADMIN')"></span>
                    <span th:unless="${iter.last}">, </span>
                </th:block>
            </h6>

            <div class="mt-5 book-detail__details-block">
                <span th:text="#{book.details.label}" class="font-weight-bolder"></span>
                <ul class="pl-3 pt-2">
                    <li>
                        <span class="font-weight-bolder" th:text="#{book.details.publisher.label} + ': '"></span>
                        <a th:href="@{/edit/publisher(id=${book.publisher.id})}" th:text="${book.publisher.name}"
                           sec:authorize="hasAnyRole('ROLE_OPERATOR', 'ROLE_ADMIN')"></a>
                        <span th:href="@{/edit/publisher(id=${book.publisher.id})}" th:text="${book.publisher.name}"
                              sec:authorize="!hasAnyRole('ROLE_OPERATOR', 'ROLE_ADMIN')"></span>
                    </li>
                    <li>
                        <span class="font-weight-bolder" th:text="#{book.details.publish-year.label} + ': '"></span>
                        <span th:text="${book.publishYear}"></span>
                    </li>
                    <li>
                        <span class="font-weight-bolder" th:text="#{book.isbn.label} + ': '"></span>
                        <span th:text="${book.isbn}"></span>
                    </li>
                    <li>
                        <span class="font-weight-bolder" th:text="#{book.details.copies-left.label} + ': '"></span>
                        <span th:text="${book.copies}"></span>
                    </li>
                </ul>
            </div>

            <div class="book-detail__buttons">
                <button class="btn btn-primary mr-3 w-25">Borrow</button>
                <a th:href="@{/edit/book(isbn=${book.isbn})}" class="btn btn-primary" sec:authorize="hasAnyRole('ROLE_OPERATOR', 'ROLE_ADMIN')">Edit</a>
            </div>
        </div>


    </div>
</div>
</div>

<div th:replace="fragments/general.html :: script-links"></div>
</body>
</html>