<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home</title>

    <div th:replace="fragments/general.html :: style-links"></div>
</head>
<body>

<div class="container">
    <div th:replace="fragments/general.html ::  nav-bar"></div>
    <div class="row justify-content-center mt-5">
        <div class="col-12">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active text-center" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home">

                    <div th:replace="fragments/general.html :: site-title"></div>

                    <div class="row">
                        <div th:each="book : ${books}" class="card col-2 m-3" style="width: 18rem;">
                            <img src="effective-java.jpg" class="card-img-top" th:alt-title="book.name">
                            <div class="card-body">
                                <h5 th:text="${book.name}" class="card-title"></h5>
                                <p class="card-text">
                                    <span th:each="author : ${book.authors}" th:text="${author.firstName + ' ' + author.lastName + ', '}"></span>
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/general.html :: script-links"></div>
</body>
</html>