<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home</title>

    <div th:replace="fragments/general.html :: style-links"></div>
</head>
<body>
<div class="container">
    <div th:replace="fragments/general.html ::  nav-bar"></div>
    <div class="row justify-content-center mt-5">
        <div class="col-9">

            <th:block th:switch="${page}">
                <div th:case="'book'">
                    <div th:replace="fragments/edit-forms.html :: edit-book"></div>
                </div>
                <div th:case="'author'">
                    <div th:replace="fragments/edit-forms.html :: edit-author"></div>
                </div>
                <div th:case="'publisher'">
                    <div th:replace="fragments/edit-forms.html :: edit-publisher"></div>
                </div>
            </th:block>

        </div>
    </div>
</div>

<div th:replace="fragments/general.html :: script-links"></div>
</body>
</html>