<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="../static/images/bookshelf.png" th:src="@{/images/bookshelf.png}" alt="" width="72" height="72">
            <h1>Library</h1>

            <button class="btn btn-primary my-5">add a book</button>
        </div>

        <div class="row">

        </div>
    </div>


    <link rel="javascript" th:href="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</body>
</html>