<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="/webjars/font-awesome/5.9.0/css/all.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" th:text="#{nav.home.label}" data-toggle="pill"
                   href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"></a>
                <a class="nav-link" id="v-pills-add-book-tab" th:text="#{nav.add-book.label}" data-toggle="pill"
                   href="#v-pills-add-book" role="tab" aria-controls="v-pills-profile" aria-selected="false"></a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div id="replace_div"></div>
                <div class="tab-pane fade show active text-center" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home">
                    <img class="d-block mx-auto mb-4" src="../static/images/bookshelf.png"
                         th:src="@{/images/bookshelf.png}" alt=""
                         width="72" height="72">
                    <h1>Library</h1>


                    <table class="table table-striped mt-5 text-left" th:unless="${bookList.isEmpty()}">
                        <thead>
                        <tr>
                            <th scope="col" id="book-table_first-col_title"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Author</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="book : ${bookList}">
                            <th scope="row" class="book-table_first-col_first-row">
                                <a href="#">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </th>
                            <td th:text="${book.name}"></td>
                            <td>Author</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="tab-pane fade" id="v-pills-add-book" role="tabpanel" aria-labelledby="v-pills-add-book">
                    <div th:replace="add-book.html :: main"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper/js/1.14.3/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../static/js/script.js" th:src="@{/js/script.js}"></script>
</body>
</html>